#contact_modal {
    display: none;
}

.photograph-header {
    display: flex;
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    position: absolute;
    z-index: 999;
    top: 25%;
    left: 22%;
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

/*code ajouté*/
.photograph-informations h1 {
    margin: 0;
    font-size: 60px;
    font-weight: 400;
    color: #D3573C;
}

.photograph-informations span {
    margin-top: 6px;
    margin-bottom: 20px;
    font-size: 24px;
    color: #901C1C

}

.photograph-informations p {
    color: #525252;
}

.photograph-header img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.media-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 90px;

}

.media-section h1{
    text-align: left;
    font-size: 20px;
    font-weight: 400;
    color: #901C1C;
}

.media {
    margin-top: 50px;
    border-radius: 5px;
    width: 350px;
    height: 300px;
    object-fit: cover;
}

.photograph-tarif{
    position: fixed;
    bottom: 0;
    right: 20px;
    background-color: #DB8876;
    width: 376px;
    height: 60px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: baseline;
    align-items: center;
}

.photograph-tarif p {
    margin-left: 30px;
    font-size: 24px;
    font-weight: 500;
}

.photograph-tarif img {
    margin-left: 10px;
    margin-right: 90px;
}

.background-modal{
    background-color:#c6c6c674;
    width: 100%;
    height: 320%;
    position: absolute;
    display: none;
    z-index: 998;
}

#closeBtn{
    background-image: url('../assets/icons/close.svg');
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    background-position: center;
}

.modal textarea {
    border-radius: 5px;
    border: none;
    resize: none;
    width: 100%;
    height: 170px;
}

.lightbox{
    position: fixed; /* Fixe la position */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centrer */
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: white;
    display: none;
    align-items: center;
    justify-content: center;
}

.lightbox img{
    width: auto;
    height: 600px;
    object-fit: cover;
}

.lightbox video{
    width: auto;
    height: 520px;
}

.close-button{
    position: absolute;
    right: 180px;
    top: 70px;
    background-image: url('../assets/icons/closeLightbox.svg');
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    background-position: center;
    cursor: pointer;
}

.back-button, .next-button{
    position: absolute;
    top: 50%;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.back-button{
    left: 180px;
    background-image: url('../assets/icons/backBtn.svg');
}

.next-button{
    background-image: url('../assets/icons/nextBtn.svg');
    right: 180px;
}

.media-information{
    position: relative;
}

.media-like{
    position: absolute;
    right: 120px;
    margin-right: 40px;
}

.media-information img{
    position: absolute;
    right: 130px;
    top: 17px;
}
body {
    font-family: Arial, sans-serif;
}

.sort-bloc {
    margin-top: 20px;
    margin-left: 100px;
    display: flex;
}

.sort-bloc p {
    font-weight: 600;
}

.sort-bloc .sort {
    margin-top: 5px;
    margin-left: 20px;
    height: 40px;
    width: 100px;
    background-color: #901C1C;
    border: none;
    color: white;
    border-radius: 5px;
    font-weight: 600;
}

.sort-bloc .sort:hover{
    background-color: #901C1C;
}